@(user: models.User)(form: play.data.Form[views.forms.QuestionForm])(id: Long)

@*
    Display a form, that allows editing a question
    QuestionForm with two fields - question text and its duration in seconds
*@

@import bootstrap3._

@stylesheets = {
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/admin.css")" />
}

@javascripts = {

}

@main("Admin Dashboard: Question Management - Careers From Here")(stylesheets)(javascripts)(user) {
    <div class="spacing-panel">
        <div class="shadow-panel">
            <h2>Edit question</h2>
            <hr>
            @helper.form(action =
                    if (id == null) { routes.AdminController.postNewQuestion() }
                    else { routes.AdminController.postQuestion(id) }) {
                <fieldset>
                    @textarea(form("text"),
                        label = "Question")
                    @text(form("duration"),
                        label = "Duration",
                        help = "Specify time limit for a question in seconds.")
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button id="submit" type="submit" value="Submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </fieldset>
            }
        </div>
    </div>
}