@(user: models.User)(form: play.data.Form[views.forms.CategoryForm])(id: Long)

@*
    Display a form, that allows editing a category
    CategoryForm with a single field - name of the category
*@

@import bootstrap3._

@stylesheets = {
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/admin.css")" />
}

@javascripts = {

}

@main("Admin Dashboard: Category Management - Careers From Here")(stylesheets)(javascripts)(user) {
    <div class="spacing-panel">
        <div class="shadow-panel">
            <h2>Edit category information</h2>
            <hr>
            @helper.form(action =
                    if (id == null) { routes.AdminController.postNewCategory() }
                    else { routes.AdminController.postCategory(id) }) {
                <fieldset>
                    @text(form("name"),
                        label = "Name")
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button id="submit" type="submit" value="Submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </fieldset>
            }
        </div>
    </div>
}