.choice-button {
    text-align: left;
    color: white;
    border: 1px white solid;
}

.glyphicon {
    margin-right: 2px;
}

.action-button-place {
    display: inline-block;
}

ul.sortable {
    padding-left: 10px;
}

.handle {
    width: 5%;
}

.sortable li {
    list-style: outside none none;
    margin: 7px 0;
}

.sortable .sortable-placeholder {
    border: 1px lightgray dashed;
    height: 43px;
}