#recorder-container #recorder-viewport {
    position: absolute;
    width: 640px;
    height:480px;
}

#progress-bar-container {
    width: 640px;
}

#recorder-container #overlay-top {
    position: absolute;
    width: 100%;
    /*height: 40px;*/
    padding: 7px;
    color: #efefef;
    background-color: rgba(0, 12, 52, 0.90);
}

#recorder-container #overlay-full {
    padding: 15px;
    position: absolute;
    text-align: center;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 777;
    color: #efefef;
    background-color: #000c34;
    font-size: 40px;
    font-weight: bold;
}

#recorder-container .progress {
    width: 640px;
    height: 10px;
    position: absolute;
    top: 480px;
    margin-bottom: 0px;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}

#recorder-container .progress-bar {
    width: 640px;
    height: 10px;
    position: absolute;
    background-color: #ffaa00;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}

/* TODO: need to add size for progress bar also */
#recorder-container #recorder-controls {
    padding-top: 480px;
}

#recorder-container #left-clock,
#recorder-container #right-clock {
    position: relative;
    top: 480px;
}

#left-clock {
    float: left;
    margin: 3px 0;
}

#right-clock {
    float: right;
    margin: 3px 0;
}

#publish {
    display: block;
    margin: 0 auto;
    margin-top: 100px;
}