@(form: play.data.Form[String])

@*
    Reset password page
    @form - form, containing email string of user, for which password will be resetting
*@

@import bootstrap3._

@stylesheets = {
  <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/login.css")">
}

@javascripts = {

}

@main("Login")(stylesheets)(javascripts)(null) {
    <div class="spacing-panel col-md-offset-3 col-md-6">
        <div class="shadow-panel">
            <h2>Reset your password</h2>
            <hr>
            @helper.form(action = routes.RegistrationController.resetPassword()) {
                <fieldset>
                    @text(form("email"), label = "Email")
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button id="submit" type="submit" value="Submit" class="btn btn-primary">Reset your password</button>
                        </div>
                    </div>
                </fieldset>
            }
        </div>
    </div>
}
